<div class="menu w-100 lookingJobWrapp">



    <div  class="container jobSerch">
        <h1><i>I'm looking for</i></h1>
        <div class="row">
            <div class="col-md-10 p-0">
                <div class="form-group">
                    <input type="text" style="border-bottom: 3px solid #c5c1c1;" class="form-control rounded-0" id="email" placeholder="Enter a job description">
                </div>
                <div class="row">


                    <div class="form-group form-check col-md-2">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Full time
                        </label>
                    </div>
                    <div class="form-group form-check col-md-5">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Part Time / Casual / Freelance
                        </label>
                    </div>
                    <div class="form-group col-md-5 p-0">
                        <select class="form-control rounded-0" id="sel1" style="font-size: 0.7rem;">
                            <option class="text-mute">Select your Location</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-right p-0">
                <button class="btn btn-twobyts-primary rounded-0"> <i class="fas fa-search"></i> Search</button>
            </div>

        </div>
    </div>
    <div class="container text-center pt-4">
        <button type="button" class="btn btn-twobyts-primary rounded-0" data-toggle="modal" data-target="#myModal">Register</button>
    </div>
</div>

