<div class="row jobSeekWrapper">
        <div class="container leaders">
            <p>Subscribe to our job seeker Mailing List</p>
            <!-- <form> -->
                <div class="input-group" style="width:26%;border: 2px solid #4acaff;border-radius: 2px;">
                    <input type="text" class="form-control" style="border-radius: 0px;" placeholder="Enter Your Email Address">
                    <div class="input-group-append">
                        <span class="input-group-text" style="
                        background: white;
                        border-radius: 0px;
                    "> <i class="far fa-envelope"></i> </span>
                    </div>
                </div>
            <!-- </form> -->
        </div>
    </div>


    
