<app-navbar></app-navbar>
<div>
    <div class="container">
            <div class="row">
                    <div class="col-md-4">
                        <img height="200px" style="cursor: pointer;" width="100%" src="/assets/placeholder.jpg">
                        <div>
                                <button class="btn btn-success">Edit Profile</button>
                                <button class="btn btn-success">Edit Photo</button>
                    
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p>I'm Caroline Kassidy and Im above 20 years and
                            you can send your emails to
                            caroline kassidy@publicis.com. I live in the state of
                            Alaska. Ilike to play hockey, football and reading
                            books. And please send me newsletters. Please
                            reach out to me on my phone number</p>
                        <button class="btn btn-success">I Agree</button>
                    </div>
                </div>
    </div>
   
</div>